body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    width: 100vw;
    /*  */
    padding: 16px;
    padding-left: 16px;
    
}

.header-left {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.header-right a {
    color: #E5E7EB;
}

/* HERO */

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1F2937;
    background-size: 100% 100%;
    /* width: 100vw; */
    color: white;
    gap: 48px;
    /*  */
    padding: 72px 0px;
    min-width: 100%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 8px;
}

.hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.hero img {
    width: 360px;
    height: auto;
}

.hero button {
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    /* Forgot this! Add some padding to the button itself */
    padding: 8px 16px;
    width: 96px;
}

/* INFORMATION */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    /*  */
    padding-bottom: 108px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
}

.card img {
    width: 100px;
    height: 100px;
    padding: 16px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card p {
    margin: 0px;
    font-size: 16px;
}

/* QUOTE */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: #E5E7EB;
    /*  */
    padding-top: 64px;
    padding-bottom: 64px;
    min-width: 100%;
}

.quote-content {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 830px;
    margin: 0px;
}

.quote-source {
    width: 800px;
    text-align: end;
    font-size: 18px;
    font-weight: bolder;
    margin: 0px;
    padding-right: 36px;
}

/* SIGN-UP */

.signup-outer {
    padding-top: 72px;
    padding-bottom: 72px;
}

.signup {
    display: flex;
    justify-content: center;
    gap: 128px;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    /* Forgot this! Add some padding to the button itself */
    width: 720px;
    padding: 36px 96px;
}

.signup p {
    margin: 0px;
}

.signup-heading {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
}

.signup button {
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    background: none;
    border-radius: 8px;
    /* Forgot this! Add some padding to the button itself */
    padding-left: 24px;
    padding-right: 24px;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 72px;
    min-width: 100%;
}

/* text styling */

ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 18px;
    font-size: 16px;
}

a {
    text-decoration: none;
}